<div data-role="header">
  <%= link_to 'Back', @context, "data-icon" => "arrow-l", "data-rel" => "back" %>
  <h1><%= @task.name %> bearbeiten</h1>
  <%= link_to 'Delete', @task, confirm: 'Task löschen?', :method => :delete, "data-icon" => "delete", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <%= render 'editform' %>
</div>  