<div data-role="header">
  <%= link_to 'Zurück', root_path, "data-icon" => "arrow-l", "data-icon" => "notext" %>
  <h1>Registrieren</h1>
</div>

<div data-role="content">
  <%= render 'form' %>
</div>
