<ul data-role="listview" data-theme="c">
  <% @tasks.each do |task| %>
    <li data-icon=<%=  task.complete ? "check" :  task.important ? "star" : "gear" %> <%= "data-theme='f'" if task.expiration <= 5.minutes.from_now && task.expiration >= DateTime.now %>>
      <%= link_to task.name, edit_user_context_task_path(@user,@context,task), "data-prefetch" => true %>
    </li>
  <% end %>
</ul>