<ul data-role="listview" data-theme="<%= @user.layout %>">
  <% @tasks.each do |task| %>
    <li data-icon=<%= task.complete ? "check" :  task.important ? "star" : "gear" %> <%= "data-theme='f'" if task.expiration <= @user.interval.minutes.from_now && task.expiration >= DateTime.now && !task.complete %>>
      <%= link_to task.name, edit_user_context_task_path(@user,task.context,task), "data-prefetch" => true %>
    </li>
  <% end %>
</ul>