

<input type="hidden" id="latitude" value="<%= @context.latitude %>"/>
<input type="hidden" id="longitude" value="<%= @context.longitude %>"/>

<div data-role="content">
  <%= render :partial => 'shared/tasklist' %>
</div>

<div data-role="footer" data-position="fixed">		
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Task hinzufügen', new_user_context_task_path(@user,@context), "data-icon" => "plus", "data-prefetch" => true %></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->