<div data-role="header">
  <%= link_to 'Back', root_path, "data-icon" => "arrow-l", "data-rel" => "back" %>
  <h1><%= @context.name %> bearbeiten</h1>
  <%= link_to 'Delete', @context, confirm: 'Kontext löschen?', :method => :delete, "data-icon" => "delete", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <%= render 'form' %>
</div>
